<li [ngClass]="{'list-group-item': true,
              'list-group-item-success': getColor() === 'green',
              'list-group-item-danger': getColor() === 'red',
              'list-group-item-light': getColor() === 'black'}">

    <h2>{{ post.name }}</h2>

    <p class="date">{{ post.created_at | date: 'short' }}</p>

    <p>{{ post.contenu }}</p>

    <button class="btn btn-success"
            style="margin-right:20px"
            (click)="onLike()">I love it ! ({{ getLike() }})</button>
    <button class="btn btn-danger"
            (click)="onUnlike()">I don't love it ! ({{ getUnlike() }})</button>
</li>