.list-group-item {
    position: relative;
    margin-bottom: 20px;
    padding: 20px;
}

.date {
    color: grey;
    font-style: italic;
    position: absolute;
    top: 20px;
    right: 20px;
}

h2 {
    font-weight: bold;
    font-size: 20px;
    margin-top: 0;
}

p {margin-bottom: 20px;}